#table table, th, td {
    border: 1px solid;
}

#table th {
    background-color: #d2d2d2;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

#table td {
    background-color: #efefef;
    vertical-align: middle;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

#table p {
    text-align: center;
    margin: 0;
}